# 配置文件
config.json
.gitinroe

# Python 缓存
__pycache__
*.pyc
*.pyo
*.pyd

# 虚拟环境
.env
.venv
env/
venv/

# 日志和数据目录
*.log

# 忽略目录
.claue/
.gitinroe
 
# 忽略 video/ 目录及其子目录中的视频与音频文件（匹配任意层级的 video 目录）
# 视频
video_info/**/*.mp4
video_info/**/*.mkv
video_info/**/*.avi
video_info/**/*.mov
video_info/**/*.wmv


# 音频
mk_video/**/*.mp3
mk_video/**/*.srt
mk_video/**/*.wav
mk_video/images/*
mk_video/videos/*

# 忽略所有音视频（仅本地保留，不上传）
*.mp4


